# Dependencies
node_modules
node_modules/
.pnpm-store

# Build outputs
dist
dist/
build
build/
coverage/
.turbo

# Environment & Secrets
.env
.env.*
!.env.example
.env.local
*.pem
*.kubeconfig
*.log

# Temp / Cache
__pycache__/
*.pyc

# IDE & OS
.DS_Store
.vscode
.idea

# Compiled binaries
apps/k8s-streamer/main
apps/k8s-streamer/server
