# Git Mailmap Configuration
# Re-attribute historical commit authors to primary maintainer

Pranav Kumar Dwivedi <pranavdwivedi45645@gmail.com> AK212100 <anoushkachakraborty05@gmail.com>
Pranav Kumar Dwivedi <pranavdwivedi45645@gmail.com> <anoushkachakraborty05@gmail.com>
Pranav Kumar Dwivedi <pranavdwivedi45645@gmail.com> Anoushka <anoushkachakraborty05@gmail.com>
